<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Hello Nurse</h1>
  <p>My favourite animal is <%= animal %></p>
  <a href="/clear">Clear Animal</a>
  <ul>
    <li><a href="/animals/shark">Shark</a></li>
    <li><a href="/animals/cat">Cat</a></li>
    <li><a href="/animals/dog">Dog</a></li>
    <li><a href="/animals/panda">Panda</a></li>
    <li><a href="/animals/monkey">monkey</a></li>
  </ul>
</body>
</html>